.dropdown {
  position: relative;
}

.dropdown .menu {
    position: absolute;
    right: 0rem;
    top: 100%;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: .3rem;
}